<body>
    <title>all posts</title>

    <nav class="navbr">
        <ul>
            <li>Home</li>
            <li>About us</li>
            <li>contact us</li>
            <li>services</li>
        </ul>
       </nav>
       <style>
        .navbr
        {
          background-color: black;

        }
        .navbr li{
            float: left;
        }
    </style>
    <br></br>
    <% for( post of posts){%>
        <div>
    <h1>username :@<%=post.username %></h1>
    <h2>content : <%=post.content %></h2>
 
</div>

   <% }%>
   <a href="http://localhost:5050/posts/new">creat new</a>


</body>